h1 {
    color: blue;
  }

body {
font-size: 24px;
}

button {
    font-size: 2em;  /* Adjust size as needed */
    padding: 15px 25px;  /* Padding around text */
    margin: 10px;  /* Space between buttons */
    width: auto;  /* Auto width based on content */
  }
  